{% extends 'bonge/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-12 col-md-offset-4">

<div class="card mb-6">
  <img src="{% static 'bonge/images/hostpital 1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">

    <center><h5 class="card-title">Please Fill In your DNA Information </h5></center>

    <form method="POST" action="{% url 'predictdisease' %}" id="myform">
      {% csrf_token %}
    <div class="form-group row">
        <label for="Symptom1" class="col-sm-2 col-form-label">Give Your SNPID</label>
        <div class="col-sm-6">
           <input type="text" class="form-control" list="symp" multiple="multiple" name="SNP" id="Symptom1" placeholder="Fill in the  SNP" required="">
        </div>
        <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
    </div>

     <div class="form-group row">
        <label for="Symptom2" class="col-sm-2 col-form-label">Give Your Affected Allele</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" list="symp" name="Affected Allele" id="Symptom2" placeholder="Fill in affected allele">
        </div>
        <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
    </div>

     <div class="form-group row">
        <label for="Symptom3" class="col-sm-2 col-form-label">Put the Reference allele</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" list="symp" name="Symptom3" placeholder="Fill In Reference Allele">
        </div>
        <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
    </div>

     {% comment %} <div class="form-group row">
        <label for="Symptom4" class="col-sm-2 col-form-label">Put the Affeted weight</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" multiple="multiple" list="symp" name="Symptom4" placeholder="Fill In Affected Weight" required="">
        </div>
        <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
    </div> {% endcomment %}


     {% comment %} <div class="form-group row">
        <label for="Symptom5" class="col-sm-2 col-form-label">Symptom5</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" list="symp" name="Symptom5" placeholder="Fill In 5 Symptom" required="">
        </div>
        <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
    </div> {% endcomment %}

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary" id="btn">Predict</button>
        </div>
    </div>
</form>






<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 motech
    <a href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}